* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #d1d1d1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}